body {
	box-sizing: border-box;
	margin: 0;
	padding: 20px 0px;
	background-image: url(./assets/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	position: relative;
	z-index: -2;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;

}

*, *:before, *:after {
	box-sizing: inherit;
}

ul, li{
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

div, p, h1 {
	margin: 0;
	padding: 0;
}

#bgCover {
	position: fixed;
	background-color: rgba(0,0,0,.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
#contentContainer {
	width: 1024px;
	margin: auto;
}


#socialBar {
	display: flex;
	flex-flow: row no-wrap;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 15px;
	font-weight: 100;
}

#socialBar p{
	display: inline-block;
	text-transform: uppercase;
	line-height: 50px;
	margin: 5px 100px 8px 5px;
	font-size: 14px;

}
#bulletDivider {
	margin: 10px 5px;
}
#bulletDivider p {
	display: block;
	margin: 0;
	line-height: 8px;
}
#socialBar ul {
	position: relative;
}

.socialIcon{
	box-sizing: content-box;
	margin: 5px 2px;
	width: 50px;
	height: 50px;
	font-size: 26px;
	color: rgba(255,255,255,.5);
	text-align: center;
	line-height: 50px;
	background-clip: padding-box;
	border-bottom: 3px solid rgba(255,255,255,.5);

}

#FB {background-color: #3B5998;}
#RSS{background-color: #FF6600;}
#TWT{background-color: #00aced;}
#YT{background-color: #cc181e;}

#navBar {
	display: flex;
	flex-flow: row no-wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.navMenu {
	flex-grow: 1;
	max-width: 250px;
	height: 40px;
	background-color: #bc3534;
	background-clip: padding-box;
	border-bottom: 3px solid rgba(255,255,255,.5);
	text-align: center;
}

.navMenu p {
	line-height: 40px;
	font-size: 18px;
	text-transform: uppercase;
}


#carouselContainer {
	position: relative;
	width: 100%;
	height: 360px;
	border: 10px solid rgba(255,255,255, 1);
	background-image: url(assets/top-image.png);
	background-position: top -150px left -160px;
	box-shadow: 0 3px rgba(255,255,255, .7);
	overflow: hidden;
}

#carouselOverlay {
	opacity: .5;
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}


#ppLogo {
	z-index: 1;
	position: absolute;
	top: 60px;
	left: 40px;
}

#carouselNav {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
	margin: 5px 0;
	padding: 15px
}

.circle {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #EEE;
	border-radius: 50%;
	margin: 0 5px;
	filter: drop-shadow(0 3px rgba(255,255,255, .5));
}

#articleContainer {
	margin: 5px 0 40px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.articleContent {
	width: 334.67px;
	padding: 20px 25px;
	height: 360px;	
	background-color: #FFF;
	background-clip: padding-box;
	border-bottom: 3px solid rgba(255,255,255,.5);
	word-break: break-word;
	position: relative;

}

.articleContent:nth-child(2) {
	margin: 0 10px;
}

h2 {
	color: #000;
	margin: 0 0 15px 0;
}
h5 {
	color: #666;
	margin: 0 0 15px 0;
}

.articleContent p{
	color: #222;
	display: block;
	font-size: 13px;
	line-height: 1.8;
}
#contactContainer p {
	color: #222;
	display: block;
	font-size: 13px;
	line-height: 1.8;
}

.articleContent a {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 0 20px 0;
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: #A00;
}

#skaterContainer {
	position: relative;
}
#arrow {
	position: absolute;
	left: -250px;
	top: 50px;
	width: 200px;
	height: 85px;
	font-size: 20px;
	font-weight: bold;
	background-color: #bc3534;
	box-shadow: 0 3px rgba(255,255,255, .5);
}
#arrow > p{
	position: absolute;
	top: 25px;
	left: 20px;

}
#arrow::after{
	content: "";
	position: absolute;
	left: 200px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 42.5px 0 42.5px 30px;
	border-color: transparent transparent transparent #bc3534;
	filter: drop-shadow(0 3px rgba(255,255,255, .5));
}

.skater {
	position: relative;
	width: 334.67px;
	height: 230px;
	float: left;
	border: 5px solid #FFF;
	box-shadow: 0 3px rgba(255,255,255, .5);
	text-align: center;
	text-transform: uppercase;
	font-family: 'Archivo Black', sans-serif;
}
#skaterOne {
	background-image: url(assets/sk8er-4.png);
	background-position: top -15px right 0;
}

#skaterTwo {
	background-image: url(assets/sk8er-3.png);
	background-position: ;
	margin: 0 10px 0 10px;
}

#skaterThree {
	background-image: url(assets/sk8er-2.png);
	background-position: top 0 right -100px ;
	height: 470px
}

.clearfix::after{
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#skaterFour{
	background-image: url(assets/sk8er-1.png);
	background-position: top -100px left 0;
	width: 679.33px;
	margin-top: -230px;
}

.skater h1 {
	display: inline;
	position: absolute;
	font-size: 44px;
	top: 50%;
	left: 50%;
	height: 30%;
    margin: -12.5% 0 0 -50%;
}

#skaterFour h1{
	display: inline;
	position: absolute;
	font-size: 44px;
	top: 50%;
	left: 50%;
	height: 30%;
    margin: -4% 0 0 -35%;
}


#boardsContainer {
	margin: 30px 0 30px 0;
	padding: 10px 0 20px 0;
	width: 100%;
	background-color: #FFF;
	background-clip: padding-box;
	border-bottom: 3px solid rgba(255,255,255,.5);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

#contactContainer {
	background-color: #FFF;
	width: 100%;
	height: 350px;
	padding:  30px 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-clip: padding-box;
	border-bottom: 3px solid rgba(255,255,255,.5);	
}
#columnOne{
	width: 45%;
}
#columnOne p {
	margin: 20px 0;
}
#contactHeader{
	color: black;
	display: inline-block;
}
.socialIconSmall {
	margin: ;
	width: 30px;
	height: 30px;
	font-size: 16px;
	color: rgba(255,255,255,.5);
	text-align: center;
	line-height: 30px;
}
#FBsm {background-color: #3B3B3B;}
#RSSsm{background-color: #CCC;}
#TWTsm{background-color: #999;}
#YTsm{background-color: #777;}

#contactForm {
	margin: 0;
	width: 45%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}
input, textarea { 
	outline: none;
 }
#contactForm input, #contactForm textarea {
	width: 100%;
	font-size: 14px;
	padding: 8px;
	margin: 5px 0;
	box-shadow: inset 2px 2px #888;
}

#messageField {
	height: 100px;
	resize: none;
}

input#submitButton {
	width: 250px;
	height: 40px;
	color: #EEE;
	background-color: #bc3534;
	box-shadow:none;
	text-transform: uppercase;
	margin-left: auto;
}